.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 5px;

    padding-top:150px;
    width: 1250px; /* 80% */
    margin: auto;
}

.gallery-container img{
    width: 300px;
} 